<h1>
  Error: <span class="text-muted"><%= @sha %></span>
</h1>

<section>
  <% @error.sort.each do |key, value| %>
  <div class="row">
    <div class="col-sm-2">
      <p><strong><%= key %>:</strong></p>
    </div>
    <div class="col-sm-10">
        <% if value =~ /^(http|https):\/\// %>
        <p><a href="<%= value %>"><%= value %></a></p>
        <% elsif value.include? "\n" %>
        <pre class="pre-scrollable" onclick="if (this.className) {this.className = ''} else {this.className = 'pre-scrollable'}"><%= value %></pre>
        <% else %> 
        <p><code><%= value %></code></p>
        <% end %>
    </div>
  </div>
  <% end %>
</section>

<section>
  <ul class="list-inline">
    <% @actions.each do |action| %>
    <li>
      <form action="/errors/<%= @sha %>/actions/<%= action.name %>" method="post">
        <button class="btn btn-primary" type="submit"><%= action.name.to_s.gsub '_', ' ' %></button>
      </form>
    </li>
    <% end %>
  </ul>
</section>