<section>
  <ul class="list-inline">
    <% @actions.each do |action| %>
    <li>
      <form action="/actions/<%= action.name %>" method="post">
        <button class="btn btn-primary" type="submit"><%= action.name.to_s.gsub '_', ' ' %></button>
      </form>
    </li>
    <% end %>
  </ul>
</section>

<section>
  <p class="row">
    <strong class="col-xs-6 text-left"><%= @count %> Errors</strong>
    <strong class="col-xs-6 text-right">Page <%= @page %> of <%= @page_count %></strong>
  </p>

  <hr/>

  <table class="table">
    <thead>
      <tr>
        <th class="hidden-xs">SHA</th>
        <th>Exception</th>
        <th class="hidden-xs">Environment</th>
        <th>Count</th>
        <th class="hidden-xs">First</th>
        <th class="hidden-xs">Latest</th>
        <th class="hidden-xs">Classification</th>
      </tr>
    </thead>
    <tbody>
      <% @errors.each do |sha, error| %>
      <tr>
        <td class="hidden-xs"><a href="/errors/<%= sha %>"><%= sha[0..5] %>..</a></td>
        <td class="word-break"><a href="/errors/<%= sha %>"><code><%= error["exception"] %></code></a></td>
        <td class="hidden-xs"><%= error["environment"] %></td>
        <td><%= error["count"] %></td>
        <td class="hidden-xs">
          <%= error["first"] and (Time.parse(error["first"]).utc + Time.zone_offset('EST')).strftime "%I:%M%P %-m/%-d/%y" %>
        </td>
        <td class="hidden-xs">
          <%= error["latest"] and (Time.parse(error["latest"]).utc + Time.zone_offset('EST')).strftime "%I:%M%P %-m/%-d/%y" %>
        </td>
        <td class="hidden-xs"><%= error["classification"] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <hr/>

  <ul class="pagination pagination-sm">
    <li class="<%= @page == 1 ? 'disabled' : '' %>"><a href="/?page=1">&laquo;</a></li>
    <% 
      min_page = [1, @page - 3 ].max
      max_page = [min_page + 6, @page_count].min
      min_page.upto(max_page).each do |p|
    %>
      <% if p == @page %>
        <li class="active"><a><%= p %></a></li>
      <% else %>
        <li><a href="/?page=<%= p %>"><%= p %></a></li>
      <% end %>
    <% end %>
    <li class="<%= @page == @page_count || @page_count == 0 ? 'disabled' : '' %>"><a href="/?page=<%= @page_count %>">&raquo;</a></li>
  </ul>
</section>