<% @categories.each do |category, words| %>
<section>
  <h4><%= category %></h4>
  <ul class="list-inline">
    <% words.sort_by{|word, count| -count}.each do |word, count| %>
    <li><%= word %> <span class="badge"><%= count %></span></li>
    <% end %>
  </ul>
</section>
<% end %>
