<section>
  <h3>New Error</h3>
  <form id="error">
    <div class="form-group">
      <label for="error.message">Exception:</label>
      <input class="form-control" name="error.message"/>
    </div>
    <div class="form-group">
      <label for="error.backtrace">Backtrace:</label>
      <textarea class="form-control" name="error.backtrace"></textarea>
    </div>
    <div class="form-group">
      <label for="server.environment_name">Environment:</label>
      <input class="form-control" name="server.environment_name"/>
    </div>
    <button type="submit" class="btn btn-primary pull-right">Submit</button>
  </form>
</section>

<script>
  // prevent form submit and instead post JSON
  $('#error').on('submit', function(e) { 
    
    var data = {}
    $.each($('#error').serializeArray(), function(i, nv) {
      var parts = nv.name.split('.'),
          p1 = parts[0],
          p2 = parts[1];

      data[p1] = data[p1] || {};
      data[p1][p2] = nv.value;
    });

    $.ajax({
      url: '/v1/notices',
      type: 'POST',
      processData: false,
      data: JSON.stringify(data),
      success: function() {
        window.location = '/';
      }
    });

    e.preventDefault();
    return false;
  
  });
</script>