.navbar {
  margin: 0;
}

.navbar a, .btn {
  text-transform: capitalize;
}

section {
  margin: 30px 0;
}

td.word-break {
  word-break: break-all;
}

code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre {
  word-wrap: normal;
  white-space: pre;
  overflow-x: scroll;
}

a:hover {
  text-decoration: none;
}

.monkeybadger-logo {
  background-image: url('/images/monkeybadger-logo.png');
  background-size: 100%;
  height:40px;
  width:40px;
  padding: 0;
  margin: 5px 0;
}

@media (max-width: 767px) {
  .monkeybadger-logo {
    margin: 5px 15px;
  }
}
